.product-card {
  position: relative;
  padding: 1rem;
  width: 200px;
  aspect-ratio: 3 / 2;
  background-color: var(--clr-gray);
  transition: scale 0.2s ease-in-out;

  img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: contain;
  }

  .icon {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #e3242b;
    cursor: pointer;
  }

  .details {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .price {
      font-weight: 700;
      color: royalblue;
    }
  }

  &:hover {
    scale: 1.1;
  }
}
