@forward "utilities";
@forward "components";
@forward "pages";
@forward "header";

:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-gray: hsl(0, 0%, 96%);
}

body {
  min-height: 100dvh;
  background-color: var(--clr-white);
}

.App {
  margin-top: 85px;
}

.container {
  max-width: 1300px;
  padding: 1.5rem;
  margin: auto;
}
